<%- include('includes/header') %>

<%- include('includes/nav') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="display-1 text-center"> Página de login</h1>
        <p class="text-center lead">Entre com sua conta:</p>

        <div class="row">
          <div class="col my-3">
            <div class="alert alert-danger">Um erro qualquer</div>
          </div>
        </div>
      </div>      

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
          <div class="col-lg-6 my-4">
          <p>Se você não tem conta, clique <span><a href="/register">aqui</a></span> e crie sua conta.</p>
        </div>
        </div>
        
      </div>
      
    </div>

  </div>


<%- include('includes/footer') %>

  