<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
  <div class="d-flex justify-content-center">
    <div style="width: 70%;">
      <% errors.forEach(function(error) { %>
        <div class="alert alert-danger text-center my-2" role="alert">
          <%= error %>
        </div>
      <% }); %>
    </div>
  </div>
<% } %>

<% if (typeof success !== 'undefined' && success.length > 0) { %>
  <div class="d-flex justify-content-center">
    <div style="width: 70%;">
      <% success.forEach(function(msg) { %>
        <div class="alert alert-success text-center my-2" role="alert">
          <%= msg %>
        </div>
      <% }); %>
    </div>
  </div>
<% } %>
