/* filepath: d:\2025-udemy\CursoJs\02\aula34\css\style.css */
body {
    font-family: Arial, sans-serif;
    background: #d8d4d4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form,
#resultado {
    box-sizing: border-box;
    max-width: 400px;
    margin: 40px auto;
    border-radius: 8px;
}

form {
    background: #3a3838;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#resultado {
    padding: 20px;
    background: #3a3838;
    border: 1px solid #a4a7a4;
    margin-top: 5px;
}