
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aula 136</title>
</head>

<body>

  <section class="container">
    <h1>Aula 136</h1>
    <p>Testando arquivos estáticos</p>
    <p>Arquivo de exemplo: <a href="/teste.txt" target="_blank">/teste.txt</a></p>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>